<div class="flex-col height-100" *ngIf="!!toEdit">
  <!-- Request URL Editor -->
  <div class="flex-row">
    <select
      class="brighten-on-hover"
      [ngStyle]="{ 'background-color': typeColor }"
      [(ngModel)]="toEdit.type"
      (ngModelChange)="typeChange()"
    >
      <option [ngValue]="RequestType.GET">GET</option>
      <option [ngValue]="RequestType.POST">POST</option>
      <option [ngValue]="RequestType.PUT">PUT</option>
      <option [ngValue]="RequestType.DELETE">DELETE</option>
    </select>
    <input
      class="url-field width-100"
      type="text"
      [(ngModel)]="toEdit.url"
      (ngModelChange)="emitChange()"
    />
    <button class="send-button brighten-on-hover">SEND</button>
  </div>

  <!-- Request Content Tabs -->
  <div class="flex-row justify width-100">
    <button
      *ngFor="let view of VIEWS"
      class="width-100"
      [ngClass]="{ active: editorView === view }"
      (click)="switchView(view)"
    >
      {{ view.toString() }}
    </button>
  </div>

  <!-- Request Content Header -->
  <div *ngIf="editorView !== EditorView.BODY" class="flex-row width-100">
    <button (click)="add()">+</button>
    <div class="flex-row width-100">
      <span *ngIf="editorView === EditorView.HEADERS" class="label width-50">
        Header
      </span>
      <span *ngIf="editorView === EditorView.PARAMS" class="label width-50">
        Param
      </span>
      <span class="label width-50"> Value </span>
    </div>
  </div>

  <!-- Request/Response Content View -->
  <div class="flex-col height-100">
    <resizable-frame
      class="height-100"
      [size]="40"
      direction="VERTICAL"
      [sizeMin]="10"
      [sizeMax]="90"
    >
      <!-- Request Content -->
      <div class="height-100" first>
        <div *ngIf="editorView === EditorView.HEADERS" class="headers">
          <div
            class="flex-row width-100"
            *ngFor="let header of toEdit.headers; index as i"
          >
            <button (click)="removeHeader(i)">-</button>
            <div class="flex-row width-100">
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="header[0]"
                (ngModelChange)="emitChange()"
              />
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="header[1]"
                (ngModelChange)="emitChange()"
              />
            </div>
          </div>
        </div>
        <div *ngIf="editorView === EditorView.PARAMS" class="headers">
          <div
            class="flex-row width-100"
            *ngFor="let param of toEdit.params; index as i"
          >
            <button (click)="removeHeader(i)">-</button>
            <div class="flex-row width-100">
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="param[0]"
                (ngModelChange)="emitChange()"
              />
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="param[1]"
                (ngModelChange)="emitChange()"
              />
            </div>
          </div>
        </div>
        <div *ngIf="editorView === EditorView.BODY" class="headers">
          <text-editor [(content)]="toEdit.content"></text-editor>
        </div>
      </div>
      <!-- Response Content -->
      <div class="height-100" second>
        <text-editor [(content)]="response" [readonly]="true"></text-editor>
      </div>
    </resizable-frame>
  </div>
</div>
