<div class="flex-col height-100" *ngIf="!!toEdit">
  <div class="flex-row">
    <select
      class="brighten-on-hover"
      [ngStyle]="{ 'background-color': typeColor }"
      [(ngModel)]="toEdit.type"
      (ngModelChange)="typeChange()"
    >
      <option [ngValue]="RequestType.GET">GET</option>
      <option [ngValue]="RequestType.POST">POST</option>
      <option [ngValue]="RequestType.PUT">PUT</option>
      <option [ngValue]="RequestType.DELETE">DELETE</option>
    </select>
    <input
      class="url-field width-100"
      type="text"
      [(ngModel)]="toEdit.url"
      (ngModelChange)="emitChange()"
    />
    <button class="send-button brighten-on-hover">SEND</button>
  </div>
  <div class="flex-row width-100">
    <button class="" (click)="addHeader()">+</button>
    <div class="flex-row width-100">
      <span *ngIf="editorView === EditorView.HEADERS" class="label width-50">
        Header
      </span>
      <span
        *ngIf="editorView === EditorView.REQUEST_PARAMS"
        class="label width-50"
      >
        Request Param
      </span>
      <span class="label width-50"> Value </span>
    </div>
  </div>
  <div class="flex-col height-100">
    <resizable-frame
      class="height-100"
      [size]="40"
      direction="VERTICAL"
      [sizeMin]="10"
      [sizeMax]="90"
    >
      <div class="height-100" first>
        <div *ngIf="editorView === EditorView.HEADERS" class="headers">
          <div
            class="flex-row width-100"
            *ngFor="let header of toEdit.headers; index as i"
          >
            <button (click)="removeHeader(i)">-</button>
            <div class="flex-row width-100">
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="header[0]"
                (ngModelChange)="emitChange()"
              />
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="header[1]"
                (ngModelChange)="emitChange()"
              />
            </div>
          </div>
        </div>
        <div *ngIf="editorView === EditorView.REQUEST_PARAMS" class="headers">
          <div
            class="flex-row width-100"
            *ngFor="let param of toEdit.params; index as i"
          >
            <button (click)="removeHeader(i)">-</button>
            <div class="flex-row width-100">
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="param[0]"
                (ngModelChange)="emitChange()"
              />
              <input
                class="form-field width-50"
                type="text"
                [(ngModel)]="param[1]"
                (ngModelChange)="emitChange()"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="height-100" second>
        <text-editor [(content)]="response" [readonly]="true"></text-editor>
      </div>
    </resizable-frame>
  </div>
</div>
