.url-field {
  font-size: 14pt;
  border: 1px solid #505050;
  border-radius: 5px;
  height: 100%;

  &:focus {
    outline: none;
    border: 1px solid #909090;
  }
}

.form-field {
  font-size: 14pt;
  border-bottom: 1px solid #505050;
  border-right: 1px solid #505050;
  border-radius: 5px;
  height: 100%;

  &:focus {
    outline: none;
    border: 1px solid #909090;
  }
}

.label {
  text-align: center;
  font-size: 14pt;
  border-bottom: 1px solid #505050;
}

.headers {
  width: 100%;
  height: 100%;
  overflow: scroll;

  div {
    height: 30px;
  }

  button {
    width: 30px;
  }
}

button {
  width: 30px;
  height: 30px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}
