.form-field {
  font-size: 14pt;
  border-bottom: 1px solid #a0a0a0;
  border-right: 1px solid #a0a0a0;
  border-radius: 5px;
  height: 100%;
}

.label {
  text-align: center;
  font-size: 14pt;
  border-bottom: 1px solid #a0a0a0;
}

.headers {
  width: 100%;
  overflow: scroll;

  div {
    height: 30px;
  }

  button {
    width: 30px;
  }
}

button {
  width: 30px;
  height: 30px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}
