.url-field {
  font-size: 12pt;
  border: 1px solid #505050;
  border-radius: 5px;
  height: 100%;
  padding: 5px;

  &:focus {
    outline: none;
    border: 1px solid #909090;
  }
}

.active {
  background-color: #2060a0;
}

option {
  text-align: center;
}

.form-field {
  border-bottom: 1px solid #505050;
  border-right: 1px solid #505050;
  border-radius: 5px;
  height: 100%;

  &:focus {
    outline: none;
    border: 1px solid #909090;
  }
}

.send-button {
  width: 80px;
  background-color: #509040;
  text-align: center;
}

.label {
  text-align: center;
  font-size: 14pt;
  border-bottom: 1px solid #505050;
  padding: 5px;
}

.headers {
  width: 100%;
  height: 100%;
  overflow: scroll;

  div {
    height: 30px;
  }
}

button {
  min-width: 30px;
  height: 30px;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-hidden {
  overflow: hidden;
}
