.window {
  height: 100%;
  max-height: 100%;
  display: block;
  overflow: hidden;
}

.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 30px;
}

.editor {
  height: calc(100% - 30px);
  max-height: calc(100% - 30px);
  overflow: hidden;
}

.tab {
  padding: 1px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  white-space: nowrap;
  color: aliceblue;
  background-color: inherit;

  &:hover {
    background-color: #0a0a0a;
    cursor: pointer;
  }
}
