<div class="window">
  <div class="top-bar">
    <span *ngFor="let tab of tabs" class="tab" (click)="switch(tab, $event)">
      {{ tab.title + (tab.saved ? "" : "*") }}
      <button class="tab-button" (click)="closeTab(tab, $event)">x</button>
    </span>
    <button class="tab tab-button" (click)="addNewTab()">+</button>
  </div>
  <div class="editor">
    <app-request-editor
      [(request)]="this.activeTab"
      (requestChange)="markAsChanged(this.activeTab)"
    ></app-request-editor>
  </div>
</div>
