.editor {
  height: 100%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: black;
    &:hover {
      background-color: #005050;
    }
  }
}

.tab {
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  white-space: nowrap;
  color: aliceblue;
  background-color: inherit;

  &:hover {
    background-color: #0a0a0a;
    cursor: pointer;
  }
}
