.editor-content {
  outline: none;
  border: none;
  resize: none;
  height: calc(100% - 30px);
  width: 100%;
  margin: 0;
  padding: 10px;
  margin-bottom: 30px;
  overflow: scroll;
  background-color: inherit;
}
